/* start vars */



/* end vars */


/* start global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* Small */
@media (max-width: 768px) {
    .container {
        width: 750px;
    }

    body {
        width: 805px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+P {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

/* end global rules */

/* start header */

.header {
    width: 100%;
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .links {
    position: relative;
}

.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}




.header .container .links .icon span {
    height: 2px;
    background-color: #000;
    margin-bottom: 5px;
}

.header .container .links .icon span:first-child,
.header .container .links .icon span:last-child {
    width: 100%;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .container ul {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    min-width: 200px;
    z-index: 1;
}

.header .container ul li {
    list-style: none;
    padding: 15px;
    border-bottom: #b1b1b1 2px solid;
    color: #4a4a4a;
    transition: 0.6s;
    cursor: pointer;
}

.header .container ul li a {
    text-decoration: none;
    list-style: none;
    padding: 15px;
    border-bottom: #b1b1b1 2px solid;
    color: #4a4a4a;
    transition: 0.6s;
    cursor: pointer;
}

.header .container ul li:hover {
    padding-left: 25px;
}

.header .container .links:hover ul {
    display: flex;
    flex-direction: column;


}



/* end header */


/* start landing */

.landing {
    width: 100%;
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    width: 320px;
    position: absolute;
    margin: auto;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #10cab7;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* end landing */


/* start features */

.features {
    width: 100%;
    padding: 60px 0;
    background-color: #f6f6f6;
}

.features .container .cards {
    display: flex;
    flex-direction: row;
}

.features .container .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features .container .cards .card i {
    color: #10cab7;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 48px;
}

.features .container .cards .card h3 {
    margin: 30px 0;
    font-weight: 800;
}

.features .container .cards .card p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}


/* end features */


/* start services */

.services .container .service-content {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services .container .service-content .img img {
    width: 260px;
}



.services .container .cards {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services .container .cards .card .icon i {
    font-size: 32px;
    padding-right: 20px;
    color: #10cab7;
}

.services .container .cards .card .icon {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: flex-end;
}

.services .container .cards .card {
    display: flex;
    flex-direction: row;
}

.services .container .cards .card h3 {
    font-size: 1.17em;
    display: block;
    margin: 0 0 20px;
}

.services .container .cards .card p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .services .container .service-content{
        justify-content: center;
        align-items: center;
    }
    .services .container .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services .container .service-content .img img {
        display: none;
    }

    .services .container .cards .card {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 360px;
        text-align: center;
    }

    .services .container .cards .card p {
        padding: 16px 0;
        color: #444;
        font-weight: 300;
        line-height: 1.6;
    }

    .services .container .cards .card h3 {
        padding: 15px 0;
    }
}

/* end services */


/* start portfolio */

.portfolio {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    margin-top: 80px;
}

.portfolio .portfolio-content .cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.portfolio .portfolio-content .cards .card {
    background-color: white;
}

.portfolio .portfolio-content .cards .card .info {
    padding: 20px;
}


.portfolio .portfolio-content .cards .card img {
    max-width: 100%;

}

.portfolio .portfolio-content .cards .card P {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}


/* end portfolio */


/* start about */
.about {
    padding: 60px 0 120px;
}

.about .container .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.about .container .about-content .about-img img {
    width: 250px;
    height: 375px;
}

.about .container .about-content .about-text {
    width: 640px;
}

.about .container .about-content .about-text .bold-p {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .container .about-content .about-text .light-p {
    line-height: 2;
    color: #777;
}

.about .container .about-content .about-text hr {
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}

/* end about */



/* start contact */
.contact {
    padding: 20px 0;
    background-color: #f6f6f6;

}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .container .contact-content {
    padding: 60px 0;
    text-align: center;

}


.contact .container .contact-content p {
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .container .contact-content a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}

.contact .container .contact-content .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .container .contact-content .social div {
    padding: 0 5px;
}

.contact .container .contact-content .social div:nth-child(2) i {
    padding: 0 1px;
}

/* end contact */


/* start footer */

.footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: #10cab7;
}

/* end footer */